<div class="modal-content">
  <!--begin::Modal header-->
  <div class="modal-header" id="kt_modal_add_user_header">
    <!--begin::Modal title-->
    <h2 class="fw-bolder">REGISTRAR NUEVO PROCESO JUDICIAL</h2>

    <!--end::Modal title-->
    <!--begin::Close-->
    <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
      <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
      <span class="svg-icon svg-icon-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
            fill="currentColor" />
          <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
        </svg>
      </span>
      <!--end::Svg Icon-->
    </div>
    <!--end::Close-->
  </div>
  <!--end::Modal header-->
  <!--begin::Modal body-->
  <div class="modal-body scroll-y mx-5 my-7">
    <!--begin::Form-->
    <form id="kt_modal_add_user_form" class="form" action="#">
      <div class="row">
        <div class="col-md-4">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Especialidad</label>
          <!--end::Label-->
          <select class="form-control form-select-solid fw-bolder" name="XXXXX" placeholder="Select">
            <option value="">-- Seleccione --</option>
            <option value="">Carpeta Fiscal</option>
            <option value="">Expediente Judicial</option>
          </select>
        </div>

        <div class="col-md-4">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Distrito Judicial</label>
          <!--end::Label-->
          <select class="form-control form-select-solid fw-bolder" name="XXXXX" placeholder="Select">
            <option value="">-- Seleccione --</option>
            <option value="">HUANCAVELICA</option>
            <option value="">HUÁNUCO</option>
            <option value="">CUZCO</option>
            <option value="">HUAURA</option>
          </select>
        </div>

        <div class="col-md-4">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Dependencia</label>
          <!--end::Label-->
          <select class="form-control form-select-solid fw-bolder" name="XXXXX" placeholder="Select">
            <option value="">-- Seleccione --</option>
            <option value="">Juzgado Mixto - AMBO</option>
            <option value="">Juzgado de Paz Letrado - AMBO</option>
            <option value="">Juzgado Mixto - LA UNION</option>
          </select>
        </div>
      </div><br>

      <div class="row">
        <div class="col-md-4">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">N° de Expediente</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input type="text" name="name" class="form-control form-control-solid mb-3 mb-lg-0"
            placeholder="N° Expediente" />
          <!--end::Input-->
        </div>

        <div class="col-md-4">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Materia</label>
          <!--end::Label-->
          <select class="form-control form-select-solid fw-bolder" name="XXXXX" placeholder="Select">
            <option value="">-- Seleccione --</option>
            <option value="">Incumplimiento de deberes funcionales</option>
          </select>
        </div>

        <div class="col-md-4">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Etapa</label>
          <!--end::Label-->
          <select class="form-control form-select-solid fw-bolder" name="XXXXX" placeholder="Select">
            <option value="">-- Seleccione --</option>
            <option value="">Investigación preparatoria</option>
          </select>
        </div>
      </div><br>

      <div class="row">
        <div class="col-md-5">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Estado</label>
          <!--end::Label-->
          <select class="form-control form-select-solid fw-bolder" name="XXXXX" placeholder="Select">
            <option value="">-- Seleccione --</option>
          </select>
        </div>

        <div class="col-md-4">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Pretenciones</label>
          <!--end::Label-->
          <input type="text" name="name" class="form-control form-control-solid mb-3 mb-lg-0"
            placeholder="Pretenciones" />
        </div>

        <div class="col-md-3">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Monto</label>
          <!--end::Label-->
          <input type="number" name="name" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Monto" />
        </div>
      </div><br>

      <div class="row">
        <div class="col-md-6">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Especialista Legal</label>
          <!--end::Label-->
          <input type="text" name="name" class="form-control form-control-solid mb-3 mb-lg-0"
            placeholder="Especialista" />
        </div>

        <div class="col-md-6">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Personal Encargado</label>
          <!--end::Label-->
          <select class="form-control form-select-solid fw-bolder" name="XXXXX" placeholder="Select">
            <option value="">-- Seleccione --</option>
            <option value="">ABIGAIL ARAZA, CHANG RIOS</option>
            <option value="">WILLIAM NELSON, HERRERA BERROSPI</option>
            <option value="">ALAN, MORALES PALOMINO</option>
            <option value="">MADELINA RAQUEL, RICAPA MAUTINO</option>
          </select>
        </div>

      </div><br>

      <div class="row">
        <div class="col-md-6">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Demandante</label>
          <!--end::Label-->
          <input type="text" name="name" class="form-control form-control-solid mb-3 mb-lg-0"
            placeholder="Demandante" />
        </div>

        <div class="col-md-6">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Demandado</label>
          <!--end::Label-->
          <input type="text" name="name" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Demandado" />
        </div>
      </div><br>

      <div class="row">
        <div class="col-md-6">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Prioridad</label>
          <!--end::Label-->
          <select class="form-control form-select-solid fw-bolder" name="XXXXX" placeholder="Select">
            <option value="">-- Seleccione --</option>
            <option value="">BAJA</option>
            <option value="">MEDIA</option>
            <option value="">ALTA</option>
          </select>
        </div>
      </div>

      <!--begin::Actions-->
      <div class="text-center pt-15">
        <button type="reset" class="btn btn-light me-3">Cerrar</button>
        <button type="button" class="btn btn-primary" data-kt-users-modal-action="submit">
          <span class="indicator-label">Registrar</span>

          <!-- <span class="spinner-border spinner-border-sm align-middle ms-2"></span> -->
          <!-- <span class="indicator-progress">Please wait...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span> -->
        </button>
      </div>
      <!--end::Actions-->
    </form>
    <!--end::Form-->
  </div>
  <!--end::Modal body-->
</div>
